################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultipleOF/UnitTestProject1/bin/Debug
